# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java etc..;

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. PyTorch
6. Seaborn

|Data Science Tools |
|--------------------|
 | Anaconda |
 | Jyupter Notebook |
 | TensorFlow |
 | Apache Haddoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List popular languages for Data Science.
* List popular libaries for Data Science.
* List all the Data types.
* List the all the machine learning methods.
* list the different types of graphs.

## Author
Mitanshu Roy